ENVIRONMENT_NAME=local
TELETHON_LOG_LEVEL=INFO
API_HOST=localhost
API_PORT=8000
APP_DOMAIN=https://...
MONGO_URI=mongodb://localhost:27017/uluai-local?authSource=admin
OPENAI_API_KEY=
NGROK_DOMAIN=
NGROK_AUTHTOKEN=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=