requests==2.32.3
aiocron==2.1
pymongo==4.8.0
python-dotenv==1.0.1
telethon==1.36.0
pydantic==2.11.4
motor==3.5.3
llama-index==0.12.34
llama-index-vector-stores-chroma==0.4.1
llama-index-llms-openai==0.3.38
llama-index-embeddings-openai==0.3.1
chromadb==1.0.8
openai==1.77.0
stripe==12.1.0
ngrok==1.4.0